@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply transition-colors duration-500;
  }
  body {
    font-family: "Lexend Giga", serif;
    min-height: 100vh;
  }
  svg,
  path {
    @apply transition-all duration-300 ease-in-out;
  }
  .hover\:bg-gradient-blurLite:hover {
    @apply transition-all duration-300 ease-in-out;
  }
  .link {
    text-decoration: underline;
    color: inherit; /* Наследует цвет родительского элемента */
  }

  .link:hover {
    color: #d8b21d; /* Замените на ваш цвет акцента */
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
  }
  /* .fc-license-message {
    display: none;
  } */
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-gray-500 bg-white dark:text-white dark:bg-secondary2
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }
  .open-button-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max top-14 translate-x-1/2 rounded-md shadow-md
    text-gray-500 bg-white dark:text-white dark:bg-secondary2
    text-xs font-bold transition-all duration-0 scale-0 origin-left;
  }
  .info-tooltip {
    @apply absolute z-50 left-1/2 mt-2 max-[500px]:-translate-x-1/2 
    w-40 max-[400px]:w-fit p-2 rounded-md shadow-md drop-shadow-xl max-[500px]:origin-top
    text-gray-500 bg-white dark:text-white dark:bg-secondary2
    text-xs transition-all duration-100 scale-0 origin-top-left;
  }
  .tooltip-show {
    @apply scale-100 delay-500;
  }
}

.apexcharts-tooltip {
  border-radius: 0.75rem !important;
  border: none !important;
  background: none !important;
  overflow: hidden !important;
}

.animation {
  animation: progress 1s ease-in-out;
}

@keyframes progress {
  from {
    stroke-dashoffset: 848;
  }
}
/* 
.animate-thumb {
  animation: thumbMove 1s ease forwards;
}

@keyframes thumbMove {
  from {
    cx: 290;
    cy: 0;
  }
} */

.my-svg-icon {
  transform: rotate(180deg);
  transform-origin: center;
}
